{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}
Booking
{% endblock %}
{% block content %}
<h1 class="text-center">Make an Appointment</h1>
<hr>
<div class="container w-50 text-left p-3 my-5" style="background-color: #cce5ff; border-radius: 10px;"> <!-- Lighter shade and rounded borders -->
    <form action="" method="POST">
        {% csrf_token %}
        {{ form|crispy }}
        <br>
        <div class="text-center"> <!-- Centering the button -->
            <button class="btn btn-primary mb-4" style="width: 150px;" type="submit">Submit</button> <!-- Centered with previous button color -->
        </div>
    </form>
</div>
{% endblock %}
